<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Edit author</title>
</head>
<body>
    <form method="POST">
        <p>
            <label>Имя</label><br>
            <input type="text" name="name" value="{{person.name}}" />
        </p>
        <p>
            <label>Дата рождения</label><br>
            <input type="date" name="birth_date" value="{{person.birth_date}}" />
        </p>
        <p>
            <label>Биография</label><br>
            <input type="text" name="bio" value="{{person.bio}}"/>
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>